*{
    margin: 0;
    padding: 0;
}
.ld{
    background-image: url('../src/img/ldbg.jpeg');
    height: 100vh;
    max-width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
}

.signupCard{
    background-image: url('../src/img/back.jpeg');
    max-width: 100%;
    height: 100%; 
    opacity:0.9;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
    background:'#747d8c' ;
    color:'#fff';
    font-weight: 'bold';
    box-shadow: 250px 250px 250px #0007 inset;
}
.icon:active{
color:"blue";
}

.overlay{
    position:'relative';
    height: 100%;
    width:100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
backdrop-filter: blur(7px);
}
.button:hover{
    background-color:'#fff';
}

.notify-panel{
    height: 540px;
    position: fixed;
    background-color: #f8f8f8;
    opacity: 0.95;
    width: 340px;
    top: 150px;
    right: 10%;
    left: 55%;
    z-index: 100;
}
.backPic{
    background-image: url('../src/img/back.jpeg');
    /* max-width: 100%; */
    height: 100%;
    width: 97%;  
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    background:'#747d8c' ;
    color:'#fff';
    font-weight: 'bold';
    box-shadow: 250px 250px 250px #0007 inset;
    border-radius: 0px 0px 30px 30px;   
}
.openDialog
{
position: absolute;
z-index: 200;    
height:'200px';
width:'150px';
background-color: '#fff';
bottom: 50%;
}