*{
    margin: 0;
    padding: 0;
}
.ld{
    background-image: url('../src/img/ldbg.jpeg');
    height: 100vh;
    max-width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
}

.signupCard{
    background-image: url('../src/img/back.jpeg');
    max-width: 100%;
    height: 100%; 
    opacity:0.9;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
    background:'#747d8c' ;
    color:'#fff';
    font-weight: 'bold';
    box-shadow: 250px 250px 250px #0007 inset;
}

#header:hover #underline{
 /* border-bottom: 4px solid red; */
 padding-right:50px;
}
#header3{
    display:none;
}
.overlay{
    position:'relative';
    height: 100%;
    width:100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
backdrop-filter: blur(7px);
}
.button:hover{
    background-color:'#fff';
}

.notify-panel{
    height: 540px;
    position: fixed;
    background-color: #f8f8f8;
    opacity: 0.95;
    width: 340px;
    top: 150px;
    right: 10%;
    left: 55%;
    z-index: 100;
}
.backPic{
    background-image: url('../src/img/back.jpeg');
    /* max-width: 100%; */
    height: 100%;
    width: 97%;  
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    background:'#747d8c' ;
    color:'#fff';
    font-weight: 'bold';
    box-shadow: 250px 250px 250px #0007 inset;
    border-radius: 0px 0px 30px 30px;   
}
.openDialog
{
position: absolute;
z-index: 200;    
height:'200px';
width:'150px';
background-color: '#fff';
bottom: 50%;
}

.emoji-box{
    height: 60px;
    width: 300px;
    background-attachment: fixed;
    background-color: #fff;
    z-index: 50;
    position: absolute;
    margin-bottom: 20px;
    transform: translateY(-60px);
    border-radius: 50px;
}
.emojis{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoji-box li{
    text-decoration: none;
}
.emoji{
 font-size: 30px;
 transition: 0.5s;
 cursor:pointer;
}
.emoji:hover{
    transform: translateY(-15px);
}
.info-form{
    max-width: 600px;
    width: 100%;
}
#image{
    width:100%;
    height:450px;
}
#cardish{
    
     box-sizing:'border-box'
}
#post{
    width:100%;
}
#pic{
height:150px;
width:150px;
border-radius:50%;
background:transparent;
border:5px solid #fff;
transform:translateY(50%);
}
#pen{
    height:25px;
    width:25px;
    color:#ccc;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%) rotateY(180deg);
}
#icon{
    background:#333;
    height:50px;
    width:50px;
    position:relative;
    left:-40px;
    top:40px;
    border:5px solid #fff
}
#titlex{
    text-align:center;
    text-transform:capitalize;
    font-weight:bolder;
    color:#000;
    transform:translateY(75px);
}
#postuser{
    transform:translateY(90px);
    padding-top:10px;
}
#profile{
    transform:translateY(90px);
    height:100%;
    min-height: 100vh;
}
@media screen and (min-width:700px)
{

#profile{
    transform:translateY(150px);
    height:100%;
    min-height: 100vh;
}
#postuser{
transform:translateY(90px);
padding-top:50px;
}    
#cardish{
   
    width:620px;
    border-radius: 20px;
    margin:auto;
}
#post{
    width:70%;
    border-radius:20px;
}
#pic{
height:290px;
width:290px;
border-radius:50%;
background:transparent;
border:5px solid #fff;
transform:translateY(50%);
}
#pen{
    height:40px;
    width:40px;
    color:#ccc;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%) rotateY(180deg);
}
#titlex{
    text-align:center;
    text-transform:capitalize;
    font-weight:bolder;
    color:#000;
    ;transform:translateY(150px);
}
#icon{
    background:#333;
    height:70px;
    width:70px;
    position:relative;
    left:-80px;
    top:240px;
    border:5px solid #fff
}
#header{
 display: none;   
}
#header3{
    display:block;
}



}