*{
    margin: 0;
    padding: 0;
}
.ld{
    background-image: url('../src/img/ldbg.jpeg');
    height: 100vh;
    max-width: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
}

.signupCard{
    background: hotpink;
}
.icon:active{
color:"blue";
}

.notify-panel{
    height: 540px;
    position: fixed;
    background-color: #f8f8f8;
    opacity: 0.95;
    width: 340px;
    top: 150px;
    right: 10%;
    left: 55%;
    z-index: 100;
}